.container() {
  width: 900px;
  padding: 0 10px;
  margin: auto;
}

.clearfix() {
  content: "";
  display: table;
  clear: both;
}

.reset {
  p, h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
  }
}

.font-main() {
  font-family: @font-family;
  font-size: @font-size3;
  line-height: @line-height3;
  font-weight: @light;
}